<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973600775508-pjtdeskao46crjpkmar1rimvr43v1fjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973600775508-pjtdeskao46crjpkmar1rimvr43v1fjk</string>
	<key>API_KEY</key>
	<string>AIzaSyAvbnwhnJhn9V8xYsP9MvTJiRdcUdwnyqk</string>
	<key>GCM_SENDER_ID</key>
	<string>973600775508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aforoApp</string>
	<key>PROJECT_ID</key>
	<string>aforoapp-3b053</string>
	<key>STORAGE_BUCKET</key>
	<string>aforoapp-3b053.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973600775508:ios:bd94e4ffd4797e1cac7cc1</string>
	<key>DATABASE_URL</key>
	<string>https://aforoapp-3b053-default-rtdb.firebaseio.com</string>
</dict>
</plist>